// Reset based on the WordPress twentytwentyone theme

html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, form, legend, textarea, pre, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

button {
    cursor: pointer;
}