// Site General
$site__font-header: ;
$site__font-body: ;



// Branding
$branding__title-font-family: ;
$branding__title-font-size: ;
$branding__title-font-weight: ;
$branding__title-text-transform: uppercase;

$branding__description-font-family: ;
$branding__description-font-size: ;





// Footer Colours
$footer__colour-text: ;
$footer__colour-link: ;
$footer__colour-link-hover: ;

$footer__title-font-family: ;
$footer__title-font-size: ;



// Size
$size__site-main: ;
$size__site-sidebar: ;