// Font Style
$font-family-heading: sans-serif;
$font-family-body: serif;

// Headings Sizes
$font-size-h1: 54px;
$font-size-h2: 36px;
$font-size-h3: 24px;
$font-size-h4: 18px;
$font-size-h5: 16px;
$font-size-h6: 14px;

// Line Heights
$line-height: 1.6;