// Brand Colours
$colour__branding-text: ;
$colour__branding-link: ;
$colour__branding-link-hover: ;










// Social Links
$color__social-twitter: #1bb2e9;
$color__social-facebook: #3b5a9b;
$color__social-instagram: #3f729b;





// Backgrounds
$colour__background-body: ;








// Links
$colour__link: ;
$colour__link-visited: ;
$colour__link-hover: ;